@model IEnumerable<Spent.Data.UserEntity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @if (Model != null && Model.Count() != 0)
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th></th>
        </tr>
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.userName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.userId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.userId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.userId })
                </td>
            </tr>
        }
    }
    else
    {
        @:ничего не найдено
    }
</table>
